.engage-viewers {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;

}

.engage-viewers-left {
  width: 30%;
}

.engage-viewers-left-wraper {

  width: 100%;
  padding-left: 1%;
}
.engage-viewers-left h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.9rem;
  width: 60%;
  color: white;
  margin: 0;
  height: 100%;
}

.engage-viewers-left p {
  color: white;
  font-size: 1.1rem;
  width: 60%;
  height: 100%;
}
.engage-viewers-left {
  height: 100%;
  width: 30%;
  display: inline-block;
}

.engage-viewers-middle {
  display: inline-block;
  height: 100%;
  width: 59%;
  position: relative;
  vertical-align: top;
  padding-bottom: 12%;
  padding-left: 3%;
}

.engage-viewers-middle dt a {
  display: block;
  width: 29%;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 200;
  height: 100%;

}
.engage-viewers-middle dt:not(:first-of-type) a {
  line-height: 2;
}

.engage-viewers-middle dt:first-of-type a {
  padding-bottom: 3%;
}


.engage-viewers-middle dl {
  height: 100%;
  margin: 0;
}
dd {
  display: none;
  width: 45.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -200;
  position: absolute;
}

.third-dl {
  height: 100%;
  width: 65%;
}
dt:hover + dd {
  position: absolute;
  right: -37%;
  top: 0;
  display: block;
  width: 70%;
  z-index: 10;
  height: 100%;
}
dd > figure {
  height: 100%;
  margin:  0;
}

dd > figure > figcaption {
  color: #ededed;
  text-align: center;
  height: 15%;
}

dd > figure > img {

  max-width: 100%;
  max-height: 100%;

  padding-left: auto;
  padding-right: auto;

  display: block;
  margin: 0 auto;
}


@media screen and (max-width: 800px) {



  /*---------------Third Section-------------------

 */
  .engage-viewers-left h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .engage-viewers-left {
    width: 100%;
  }

  .engage-viewers-left h3 {
    font-size: 2.2rem;
    width: 90%;
  }

  .engage-viewers-left p {
    width: 30%;
  }

  .engage-viewers-middle dt {
    width: 240%;
  }
  .engage-viewers-middle dl {
    padding-bottom: 170%;
  }

  dt:hover + dd {
    width: 100%;
    padding-top: 5%;
    right: -32%;
    top: 45%;
  }

  dt:hover + dd figcaption {
    height: 7%;
  }
}