
html,
body {
    font: 100% "source sans pro", sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}

/*Link Desgin*/
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #3d3d3d;
}

a:hover,
a:focus,
a:active {
    color: #f14848;

}
.main-nav-ul > li:first-child > a {
    font-weight: bold;
    color: #f14848;
}

/*Buttons*/

.white-btn.white-btn {

    text-transform: uppercase;
    font-variant: all-small-caps;
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 1rem;
    color: white;
    background-color: #f14848;
}

/* Top part of the site */

.header {

    position: fixed;
    top:0;
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 75px;
    padding: 0;
    margin: 0;



}
.logo-top {
    background-image: url("../assest/logo/comigo-logo-black.png");
    background-repeat: no-repeat;
    background-position: left center;
    width: 140px;
    height: 26px;
    display: inline;
}


.header > a {
    display: inline-block;


    margin: 1.8%;
}
.main-nav {
    display: inline;
    /*padding-left: 10%;*/
    float: right;
    padding: 2%;
    word-spacing: 1.2rem;
}
.main-nav * {
    text-transform: uppercase;

}
.nrmlws {
    word-spacing: 0;
}

.main-nav-ul {

    display: inline;
    margin-top: 0;


}

.main-nav-ul li {
    display: inline-block;
}

.main-nav-ul > li:nth-child(2) > ul,
.main-nav-ul > li:nth-child(4) > ul {
    display: none;
}

.main-nav-ul > li > a {
    text-transform: none;
}

/* First Section */

.first-section {
    color: white;
    width: auto;
    height: 520px;


    background-image: url("../assest/other/homepage-featured-new-1920x745.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    margin-top: 5.6%;
}
.first-section * {
    font-weight: normal;
}
.first-section-h1 {
    font-size: 1.75rem;

    text-align: center;
    padding-top: 13%;
    padding-bottom: 0;
}

.first-section-h2 {
    font-size: 3.5rem;
    text-align: center;
    padding-top: 0;
    line-height: 0;
    padding-bottom: 2%;
}

/* Second Section */

.second-section {
    text-align: center;
    background-color: white;
    height: 300px;
}

.second-section-h3 { /*why comigo ?*/

    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    padding-top: 6%;
}

.second-section-p { /* Comigo redefines the TV*/
    font-size: 1.2rem;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 3%;
    line-height: 1.9rem;
}

/* Third Section*/

.third-section {
    display: inline-block;
}

.third-section > h3 {
    font-size: 2rem;
    width: 15%;
    padding-left: 12%;
    text-transform: uppercase;
    display: block;
    text-align: left;
    border: dashed;
    margin-bottom: 0;
}

.third-section p {
    font-size: 1rem;
    border: dashed;
    display: inline;
    padding-left: 12%;
    width: 1%;
    margin: 0;
}

dt {
    text-transform: uppercase;
}

/* Forth Section*/

.forth-section {
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
}

.forth-section h3,
.forth-section a {
    text-transform: uppercase;

}

.forth-section-div1 {
    display: inline-block;
    width: 50%;
    height: 600px;
    background-image: url("../assest/other/ic_EI_cloud_2_home_page.png"), url("../assest/other/home-tv-service-bg1.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 320px 240px, 100% 100%;
    background-position: left 145px top 80px, left top;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
}

.forth-section-div2 {
    display: inline-block;
    width: 50%;
    height: 600px;
    background-image: url("../assest/other/ic-stb-screens.png"), url("../assest/other/home-tv-service-bg2.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 280px 280px, 100% 100%;
    background-position: left 60px top 40px, left top;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: left;

}

/*.div1 {
    display: inline-block;
        padding-top: 50%;
        padding-left: 25%;
}*/

/* Fifth Section*/

.fifth-section h3,
.fifth-section a {
    text-transform: uppercase;
}

.fifth-section {
    padding-top: 2px;
    width: auto;
    height: 500px;
    background: url("../assest/other/screen_whos_on.jpg") no-repeat right bottom;
    background-size: contain;
}

/* Sixth Section */

.sixth-section h3 {
    text-transform: uppercase;
}

.schedule {
    text-transform: uppercase;
}

/* Blog Section */

.blog a {
    display: block;
    height: 400px;
    width: auto;
    background: no-repeat center bottom;
}

.blog-ul {
    margin: 0;
    padding: 0;
    display: inline-table;

}

.blog-ul > li {

    display: inline-table;
    margin: 0;
    padding: 0;
    /*width: 16.689%;*/
    width: 16.65%;
    height: 400px;

}

.blog li:first-child {
    text-transform: uppercase;
}

.blog-ul li:first-child {
    background-color: #f14848;
}

.blog-ul li:nth-child(2) > a {

    height: 400px;
    background-image: url("../assest/blog/ibc_post_EI-750x508.png");
}

.blog-ul li:nth-child(3) > a {
    height: 400px;
    background-image: url("../assest/blog/IMG_9294-750x563.jpeg");
}

.blog-ul li:nth-child(4) > a {
    height: 400px;
    background-image: url("../assest/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
}

.blog-ul li:nth-child(5) > a {
    height: 400px;
    background-image: url("../assest/blog/post_tv_connect-750x508.jpeg");
}

.blog-ul li:nth-child(6) > a {
    height: 400px;
    background-image: url("../assest/blog/post_quality-750x508.jpeg");
}

/* Footer */

.site-footer-up {
    width: 100%;
    background-color: #1e2024;
}

.site-footer-nav {
    background-color: #1e2024;
    margin: 0;
    border:0;
    padding:0;
}

.site-footer-nav a {
    color: #7a7a7a;
}

.bottom-nav-white > li > a {
    color: white;
}

.bottom-nav-white li > ul li a:hover {
    color: #f14848;
}

.center-content {
    width: 90%;
    margin: 0 auto;
    max-width: 1230px;
    border: 0;
}

.bottom-logo {
   background-image: url(http://www.comigo.com/wp-content/themes/comigo/images/comigo-logo.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
    display: inline;
}

.site-footer-bottom {
    margin-top: 0;
}

.site-footer-up.bottom-footer {
    background-color: #1e2024;

}

.site-footer-bottom {
    background-color: #151515;
}

.bottom-footer {
    background-color: #151515;
    margin: 0;
}

.bottom-footer a {
    color: #636363;
}

.bottom-footer a:hover {
    color: white;
}

.abcd {
    margin: 0;

}

@media (max-width: 1000px) {
    .center-content {
        max-width: 660px;
        border: 1px solid red;
    }

}

