.split-section {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.split-section h3,
.split-section a {
  text-transform: uppercase;
}
.split-section-left {

  float: left;
  width: 50%;
  height: 100%;
  background-image: url("../assest/other/ic_EI_cloud_2_home_page.png"), url("../assest/other/home-tv-service-bg1.png");
  background-repeat: no-repeat;
  /*background-size: 320px 255px, 100% 100%;*/
  background-size: 50% 50%, 100% 100%;
  background-position: left 36% top 24%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  position: relative;
}
.split-section-left-wraper {
  position: absolute;
  bottom: 8%;
  left: 18%;
}

.split-section-left h3 {

  font-size: 2rem;
  font-weight: normal;
  color: white;
  line-height: 2.5rem;
  width: 60%;

}

.split-section-left p {
  color: white;
  font-size: 0.95rem;
  margin-top: 0.3%;
}

.split-section-left a {
  color: #f14848;
  margin-top: 1%;
}
.split-section-left > a:hover {
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.split-section-right {
  float: right;
  width: 50%;
  height: 100%;
  background-size: 40% 50%, 100% 100%;
  background-repeat: no-repeat;
  background-position:  left 20% top 20%;
  background-image: url("../assest/other/ic-stb-screens.png") ,url("../assest/other/home-tv-service-bg2.png");
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  position: relative;

}
.split-section-right-wraper {

  position: absolute;
  bottom: 8%;
  left: 8%;

}
.split-section-right h3 {
  color: #3D3D3D;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: normal;
  width: 100%;

}
.split-section-right p {

  margin-top: 0;
  color: #3D3D3D;
  width: 70%;
}
.split-section-right a {

  margin-top: 1%;
}

.split-section-right > a:hover {
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
@media screen and (max-width: 700px) {

  .split-section > div {
    width: 100%;

    padding: 30vw;
    height: calc(90vw - 40px);
  }
  .split-section > div > div {

    position: absolute;
    bottom: 4%;
    left: 8%;
  }


}