.why-comigo {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 7%;

}

.why-comigo-h3 { /*why comigo ?*/
  color: #d3d3d3;

  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;

}

.why-comigo-p { /* Comigo redefines the TV*/
  font-size: 1.2rem;

  margin-bottom: 1.3rem;
  line-height: 1.9rem;
}

.why-comigo > a {
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.2s;
}

.why-comigo > a:hover {
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}